extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to show the details
  else  
    - let electronicsid = toShow._id
    - let item_name = toShow.item_name
    - let brand = toShow.brand
    - let price = toShow.price

    div 
      br
      div.row
        div(class='electronicsAttr mr-3') Electronics ID is:
        div(style='color: Orange; padding: 5px; border: 2px solid #ccc; border-radius: 5px; margin-top: 10px; background-color: #f4f4f4;') #{electronicsid}
      br
      div.row
        div(class='electronicsAttr1 mr-3') Item is:
        div(style='color: blue; padding: 5px; border: 2px solid #ccc; border-radius: 5px; margin-top: 10px; background-color: #f4f4f4;') #{item_name}
      br
      div.row
        div(class='electronicsAttr2 mr-3') Brand is:
        div(style='color: red; padding: 5px; border: 2px solid #ccc; border-radius: 5px; margin-top: 10px; background-color: #f4f4f4;') #{brand}
      br
      div.row
        div(class='electronicsAttr3 mr-3') price is:
        div(style='color: green; padding: 5px; border: 2px solid #ccc; border-radius: 5px; margin-top: 10px; background-color: #f4f4f4;') #{price}