extends layout

block content
  h1= title
  - var results = result

  div(class="container-fluid")
    div(class="row")
      each r,indx in results
        div(class="col-sm-2" onclick=`buy(${indx})`) #{r.item_name}, #{r.brand}, #{r.price}
        script.
            function buy(v) {
              alert(`Your purchased item no: ${v+1}`)
            }