extends layout

block content
  h1= title
  br
  - let items = results
  - let destination = `/electronics1/create`
    button.btn( class="btn-success ml-1", onclick= `dispatch("${destination}")`) Create New Electronics Item
    br
    br

  div(class="container-fluid")
    div(class="row")
      each item in items
        div(class="col-md-4" onclick=`buy(${index})`)
          div.item_name= item.item_name
          div.brand= item.brand
          div.price= item.price
          - let destination1 = `/electronics1/update?id=${item._id}`
          - let destination2 = `/electronics1/detail?id=${item._id}`
          - let destination3 = `/electronics1/delete?id=${item._id}`
          button.btn( class="btn-warning ml-1", onclick= `dispatch("${destination1}")`) Update
          button.btn( class="btn-info ml-1", onclick= `dispatch("${destination2}")`) Detail
          button.btn( class="btn-danger ml-1", onclick= `dispatch("${destination3}")`) Delete

  script.
    function dispatch(path){
      window.location.href = path;
    }